<p>{{if FirstName}} {{FirstName}},</p>

<p>{{else}}{{end}}This month, Fair Fight is taking True the Vote to trial.</p>

<p>Why? To present our claim that they pushed dangerous disinformation about election integrity and intimidated voters. And because we won’t let voter suppression attempts go unchecked. <strong>Read more details of the case in our note below.</strong></p>

<p>To this day, True the Vote continues to echo their rejected claims of “illegal voting” in the 2020 and 2021 elections. We’re determined to show that this pro-voter movement is stronger than their attempts to silence us.</p>

<p><a href="https://secure.actblue.com/donate/ff-true-the-vote?amount={{ if HighestPreviousContributionAmount}}{{round_min_max(HighestPreviousContributionAmount,1,5,250) or '20'}}{{else}}20{{end}}"><u><strong>{{if FirstName}}{{FirstName}}, w{{else}}W{{end}}ill you chip in ${{ if HighestPreviousContributionAmount}}{{round_min_max(HighestPreviousContributionAmount,1,5,250) or '20'}}{{else}}20{{end}} or anything you can today to help defeat voter suppression attempts and ensure that voters have the resources to make their voices heard?</strong></u></a></p>

<center>
<table cellpadding="6" cellspacing="6" style="margin:auto; border=0">
	<tbody>
		<tr>
			<td align="center" bgcolor="#662c86" style="padding:0px;" width="260"><a href="https://secure.actblue.com/donate/ff-true-the-vote" name="URL2" style="font-size: 23px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; line-height:150%; -webkit-border-radius:3px;width: 260px;padding:15px;" target="_blank">PITCH IN</a></td>
		</tr>
	</tbody>
</table>
</center>

<p>Let’s continue to protect the fundamental freedom to vote in Georgia and beyond.</p>

<p>Together,</p>

<p>The Fair Fight Team</p>

<p>— Forwarded message —&nbsp;</p>

<center><a href="secure.actblue.com/donate/ff-true-the-vote"><img alt="We're talking True the Vote to court." src="https://prod.cdn.everyaction.com/images/van/NGP/NGP43/1/88450/images/Bluestate_2023_Fairfight_TTV_e1_zr01.jpg" style="max-width: 100%; max-height: 100%;" title="We're talking True the Vote to court." /></a></center>

<p>{{if FirstName}} {{FirstName}},</p>

<p>{{else}}{{end}}<strong>Before the trial begins on October 26, we want to lay out key facts you need to know about Fair Fight’s case against True the&nbsp;Vote.</strong></p>

<ul style="list-style-type: disc; color: black;">
	<li>In 2020, TTV <strong>pushed unsubstantiated claims that 67,000 ineligible voters cast their ballots</strong> in the presidential election.</li>
	<li>Leading up to the 2021 U.S. Senate runoff election, TTV announced plans to <strong>challenge the eligibility of over 364,000 registered Georgia voters</strong> — a tried-and-true voter suppression tactic.</li>
	<li>Ultimately, TTV worked with its supporters to <strong>submit challenges against a total of 250,783 voters across 65 counties.</strong></li>
	<li>Data analysis shows TTV was more likely to challenge individuals in counties with <strong>higher proportions of Black and brown voters.</strong></li>
	<li>For that runoff, they also announced the recruitment of “citizen watchdogs” to <strong>surveil absentee ballot dropboxes and incentivized their supporters with a fund of over $1 million</strong>&nbsp;as “compensation” for reporting allegations of so-called “illegal voting.”</li>
	<li>While the overwhelming majority of TTV’s challenges were dismissed, they still <strong>placed a burden on election workers</strong> and local election administration while <strong>intimidating voters</strong> and discouraging them from participating in future elections.</li>
	<li>TTV’s fundraising continues to echo their claims that people voted illegally, despite a <strong>persistent refusal to provide evidence</strong> of supposed unlawful voting.</li>
</ul>

<p>Mass challenges like those orchestrated by True the Vote weaken our democracy and silence eligible voters. And voter intimidation isn’t just wrong{{if FirstName}}, {{FirstName}}{{end}} —&nbsp;it’s illegal. So we filed a lawsuit against True the Vote in December 2020, with our trial date set for later this month (October 26). We now have a long-awaited opportunity to seek justice for voters and deter other anti-voter groups from undermining free and fair elections.</p>

<p>Like the many federal voting rights cases that have come before, the stakes of our case are high, but this is a battle worth fighting <strong>— because voter intimidation and baseless conspiracy theories have no place in our democracy.</strong></p>

<p>That’s why we continue to fight back both inside and outside the courtroom to help mitigate the dangerous effects of mass challenges.</p>

<p>We’re so grateful for your support along the way.</p>

<p>Thank you,</p>

<p>The Fair Fight Team</p>

<center>
<table cellpadding="6" cellspacing="6" style="margin:auto; border=0">
	<tbody>
		<tr>
			<td align="center" bgcolor="#662c86" style="padding:0px;" width="260"><a href="https://secure.actblue.com/donate/ff-true-the-vote" name="URL2" style="font-size: 23px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block; line-height:150%; -webkit-border-radius:3px;width: 260px;padding:15px;" target="_blank">DONATE</a></td>
		</tr>
	</tbody>
</table>
</center>
